$red: hsl(356, 100, 66);
$light-red: hsl(355, 100, 74);
$blue: hsl(208, 49, 24);
$light: hsl(0, 0, 100);
$light-gray: hsl(240, 2, 79);
$dark-gray: hsl(207, 13, 34);
$dark: hsl(240, 10, 16);
$red-gradient: linear-gradient(90deg, #FF8F70 0%, #FF3D54 100%);
$blue-gradient: linear-gradient(90deg, #2C2D3F 0%, #3F4164 100%);