.btn {
    display: block;
    padding: 15px 0;
    border-radius: 1000px;
    min-width: 135px;
    background-color: $light;
    border: none;
    color: $red;
    text-align: center;
    font-weight: 700;

    &--outline {
        background: transparent;
        border: $light 2px solid;
        color: $light;
    }
}