#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 240px 0 150px 0;
    background-image: $red-gradient;
    background-image: url('../images/bg-pattern-intro.svg'), $red-gradient;
    background-position: 20% center, 0 0;
    border-bottom-left-radius: 100px;
    color: $light;

    p {
        font-size: 2rem;
        margin: 30px;
    }

    div {
        display: flex;

        button {
            margin: 0 10px;
        }
    }
}