footer {
    padding: 80px 10%;
    border-top-right-radius: 100px;
    background-color: $dark;

    @media screen and (min-width: 1440px) {
        padding: 80px 144px;
    }

    .wrapper {
        color: $light;
        align-items: flex-start;

        div, img, a {
            width: auto;
            color: inherit;
            flex: 1;
        }

        div {
            a {
                margin: 20px 0;
            }

            h4 {
                margin-bottom: 40px;
            }
        }
    }

    a {
        display: block;
    }
}