footer {
    position: relative;
    padding: 80px 10%;
    border-top-right-radius: 100px;
    background-color: $dark;

    @include respond-to('huge') {
        padding: 80px 144px;
    }

    .wrapper {
        color: $light;
        align-items: center;

        div, img, a {
            width: auto;
            color: inherit;
            flex: 1;
        }

        div {
            margin: 40px 0;

            a {
                margin: 20px 0;
            }

            h4 {
                margin-bottom: 40px;
            }
        }

        @include respond-to('medium') {
            align-items: flex-start;

            div {
                margin: 0;
            }
        }
    }

    a {
        display: block;
    }

    .attribution {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
        color: $light;
        background-color: lighten($dark, 5%);

        p {
            text-align: center;
        }

        a {
            display: inline;
            font-family: $overpass;
            font-weight: 600;
            color: inherit;
        }
    }
}