header {
    position: absolute;
    width: 100%;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 10%;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    color: $light;

    .menu {
        display: none;
    }

    ul {
        li {
            position: relative;
            margin: 0 30px;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                display: block;
                right: -2rem;
                top: 30%;
                width: 1.2rem;
                height: 0.7rem;
                background-image: url('../images/icon-arrow-light.svg');
                background-size: cover;
            }

            p:hover {
                text-decoration: underline;
            }
        }
    }

    div {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
    }

    a {
        color: $light;

        &:first-child {
            margin-right: 30px;
        }
    }

    @include respond-to('huge') {
        padding: 40px 144px;
    }

    @include respond-to('large') {

        .menu {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }

        ul {
            display: flex;

            .submenu {
                position: absolute;
                display: block;
                min-width: 160px;
                top: 40px;
                border-radius: 10px;
                padding: 10px 25px;
                background-color: $light;
                transition-property: transform opacity;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
                box-shadow: 5px 10px 20px rgba($color: $dark, $alpha: 0.15);

                a{
                    display: block;
                    width: fit-content;
                    color: $dark;
                    margin: 15px 0;

                    &:hover {
                        font-weight: 600;
                        text-decoration: none;
                    }
                }

                &--inactive {
                    opacity: 0;
                    transform: translateY(-20px);
                    pointer-events: none;
                }
            }
        }     
        
        button {
            display: none;
        }
    }
}