header {
    position: absolute;
    width: 100%;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    padding: 40px 10%;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    color: $light;

    ul {
        display: flex;
        margin: 0 55px;

        li {
            position: relative;
            margin: 0 30px;
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                display: block;
                right: -2rem;
                top: 30%;
                width: 1.2rem;
                height: 0.7rem;
                background-image: url('../../images/icon-arrow-light.svg');
                background-size: cover;
            }
        }
    }

    div {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    a {
        color: $light;

        &:first-child {
            margin-right: 30px;
        }
    }
}