nav {
    position: absolute;
    display: flex;
    align-items: center;
    padding: 40px 160px;
    width: 100%;
    color: $light;

    ul {
        display: flex;
        margin: 0 55px;

        & li {
            position: relative;
            margin: 0 30px;

            &::after {
                content: '';
                position: absolute;
                display: block;
                right: -2rem;
                top: 30%;
                width: 1.2rem;
                height: 0.7rem;
                background-image: url('../../images/icon-arrow-light.svg');
                background-size: cover;
            }
        }
    }

    div {
        margin-left: auto;
    }
}