.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;

    div {
        width: 45%;
    }

    img {
        position: relative;
        width: 45%;
    }

    h3 {
        margin-bottom: 40px;
        margin-top: 80px;

        &:first-child {
            margin-top: 0;
        }
    }
}

section {
    padding-left: 10%;
    padding-right: 10%;

    @include respond-to('huge') {
        padding-left: 144px;
        padding-right: 144px;
    }
}

#editor {
    color: $blue ;
    padding-top: 10%;
    padding-bottom: 15%;

    @include respond-to('large') {
        padding-top: 150px;
        padding-bottom: 250px;
    }

    h2 {
        width: fit-content;
        margin: 0 auto;
    }

    div.wrapper {
        margin-top: 100px;

        img {
            position: absolute;
            width: 80%;
            right: -30%;
            z-index: -1;
        }
    }
}

#infrastructure {
    display: flex;
    max-height: 400px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-image: $blue-gradient;
    color: $light;

    img {
        top: 15px;
    }
}

#tools {
    padding: 10%;
    
    @include respond-to('large') {
        padding: 200px 10%;
    }
    color: $blue;

    img {
        transform: scale(1.5);
        left: -10%;
    }
}