.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;

    div {
        width: 45%;
    }

    img {
        position: relative;
        width: 45%;
    }
}

#editor {
    padding: 150px 10%;
    color: $blue ;

    @media screen and (min-width: 1440px) {
        padding: 150px 144px;
    }

    h2 {
        width: fit-content;
        margin: 0 auto;
    }

    div.wrapper {
        margin-top: 100px;

        h3 {
            margin-bottom: 40px;
            margin-top: 80px;

            &:first-child {
                margin-top: 0;
            }
        }

        img {
            position: absolute;
            width: 80%;
            right: -30%;
            z-index: -1;
        }
    }
}