*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1, h2, h3, h4, p, li, a {
  text-align: center;
}

@media (min-width: 769px) {
  h1, h2, h3, h4, p, li, a {
    text-align: unset;
  }
}

h1, h2, h3 {
  font-family: Overpass, sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3.5rem;
}

@media (min-width: 769px) {
  h1 {
    font-size: 6rem;
  }
}

h2 {
  font-size: 2.6rem;
}

@media (min-width: 769px) {
  h2 {
    font-size: 3.7rem;
  }
}

h3 {
  font-size: 2.8rem;
}

h4, li, button, a {
  font-family: Ubuntu, sans-serif;
  font-size: 1.6rem;
}

h4 {
  font-weight: 500;
}

a {
  font-weight: 300;
}

p {
  font-family: Overpass, sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  letter-spacing: 0.03rem;
  line-height: 160%;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.wrapper img {
  position: relative;
  width: 45%;
}

.wrapper div, .wrapper picture {
  position: relative;
  width: 100%;
}

.wrapper picture img {
  width: 100%;
}

.wrapper h3 {
  margin-bottom: 40px;
  margin-top: 80px;
}

.wrapper h3:first-child {
  margin-top: 0;
}

@media (min-width: 769px) {
  .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper picture, .wrapper div {
    position: relative;
    width: 45%;
  }
}

section {
  padding-left: 15%;
  padding-right: 15%;
}

@media (min-width: 1440px) {
  section {
    padding-left: 144px;
    padding-right: 144px;
  }
}

#editor {
  color: #1f3f5b;
  padding-top: 10%;
  padding-bottom: 15%;
}

@media (min-width: 1024px) {
  #editor {
    padding-top: 150px;
    padding-bottom: 250px;
  }
}

#editor h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

#editor div.wrapper {
  margin-top: 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#editor div.wrapper picture {
  max-width: 500px;
  margin-bottom: 50px;
}

@media (min-width: 769px) {
  #editor div.wrapper {
    margin-top: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #editor div.wrapper picture {
    left: 15%;
    max-width: none;
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    z-index: -1;
  }
}

#infrastructure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-top: 30%;
  background-color: #25252d;
  background-image: -webkit-gradient(linear, left top, right top, from(#2C2D3F), to(#3F4164));
  background-image: linear-gradient(90deg, #2C2D3F 0%, #3F4164 100%);
  background-image: url("../images/bg-pattern-circles.svg"), -webkit-gradient(linear, left top, right top, from(#2C2D3F), to(#3F4164));
  background-image: url("../images/bg-pattern-circles.svg"), linear-gradient(90deg, #2C2D3F 0%, #3F4164 100%);
  background-repeat: no-repeat;
  background-position: center -150px, center;
  background-size: 100%;
  color: white;
}

#infrastructure .wrapper {
  padding: 250px 0 100px 0;
}

#infrastructure .wrapper img {
  position: absolute;
  width: 100%;
  max-width: 450px;
  top: 0;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

@media (min-width: 769px) {
  #infrastructure {
    background-size: 80%, 100%;
    background-position: -75% 80%;
    max-height: 400px;
    min-height: 345px;
    margin: 0;
  }
  #infrastructure .wrapper {
    padding: 0;
  }
  #infrastructure .wrapper img {
    position: relative;
    top: 15px;
    width: 45%;
    -webkit-transform: unset;
            transform: unset;
    max-width: unset;
  }
}

#tools {
  padding-bottom: 10%;
  padding-top: 10%;
  color: #1f3f5b;
}

#tools img {
  margin: 50px 0;
}

@media (min-width: 1024px) {
  #tools {
    padding: 200px 10%;
  }
}

@media (min-width: 769px) {
  #tools img {
    margin: 0;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    right: 15%;
  }
}

header {
  position: absolute;
  width: 100%;
}

nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 10%;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  color: white;
}

nav .menu {
  display: none;
}

nav ul li {
  position: relative;
  margin: 0 30px;
  cursor: pointer;
}

nav ul li::after {
  content: '';
  position: absolute;
  display: block;
  right: -2rem;
  top: 30%;
  width: 1.2rem;
  height: 0.7rem;
  background-image: url("../images/icon-arrow-light.svg");
  background-size: cover;
}

nav ul li p:hover {
  text-decoration: underline;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

nav button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

nav a {
  color: white;
}

nav a:first-child {
  margin-right: 30px;
}

@media (min-width: 1440px) {
  nav {
    padding: 40px 144px;
  }
}

@media (min-width: 1024px) {
  nav .menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav ul .submenu {
    position: absolute;
    display: block;
    min-width: 160px;
    top: 40px;
    border-radius: 10px;
    padding: 10px 25px;
    background-color: white;
    -webkit-transition-property: -webkit-transform opacity;
    transition-property: -webkit-transform opacity;
    transition-property: transform opacity;
    transition-property: transform opacity, -webkit-transform opacity;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  nav ul .submenu a {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #25252d;
    margin: 15px 0;
  }
  nav ul .submenu a:hover {
    font-weight: 600;
    text-decoration: none;
  }
  nav ul .submenu--inactive {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    pointer-events: none;
  }
  nav button {
    display: none;
  }
}

#banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 240px 10% 150px 10%;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF8F70), to(#FF3D54));
  background-image: linear-gradient(90deg, #FF8F70 0%, #FF3D54 100%);
  background-image: url("../images/bg-pattern-intro.svg"), -webkit-gradient(linear, left top, right top, from(#FF8F70), to(#FF3D54));
  background-image: url("../images/bg-pattern-intro.svg"), linear-gradient(90deg, #FF8F70 0%, #FF3D54 100%);
  background-position: 20% center, 0 0;
  border-bottom-left-radius: 100px;
  color: white;
}

#banner p {
  font-size: 1.8rem;
  text-align: center;
  margin: 30px auto;
}

@media (min-width: 769px) {
  #banner p {
    font-size: 2rem;
  }
}

#banner div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#banner div button {
  margin: 0 10px;
}

footer {
  position: relative;
  padding: 80px 10%;
  border-top-right-radius: 100px;
  background-color: #25252d;
}

@media (min-width: 1440px) {
  footer {
    padding: 80px 144px;
  }
}

footer .wrapper {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper div, footer .wrapper img, footer .wrapper a {
  width: auto;
  color: inherit;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer .wrapper div {
  margin: 40px 0;
}

footer .wrapper div a {
  margin: 20px 0;
}

footer .wrapper div h4 {
  margin-bottom: 40px;
}

@media (min-width: 769px) {
  footer .wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .wrapper div {
    margin: 0;
  }
}

footer a {
  display: block;
}

footer .attribution {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  color: white;
  background-color: #30303b;
}

footer .attribution p {
  text-align: center;
}

footer .attribution a {
  display: inline;
  font-weight: 600;
  color: inherit;
}

.btn {
  display: block;
  padding: 15px 0;
  border-radius: 1000px;
  min-width: 135px;
  background-color: white;
  border: none;
  color: #ff525d;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition-property: background-color color;
  transition-property: background-color color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.btn:hover {
  background-color: #ff7a85;
  color: white;
}

.btn--outline {
  background: transparent;
  border: white 2px solid;
  color: white;
}

.btn--outline:hover {
  background-color: white;
  color: #ff7a85;
}

a:not(.btn):hover {
  text-decoration: underline;
}

body {
  position: relative;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}
/*# sourceMappingURL=main.css.map */