@import './base/reset';
@import './abstracts/colors';
@import './abstracts/breakpoints';
@import './base/typography';
@import './layouts/wrapper';
@import './layouts/nav';
@import './layouts/banner';
@import'./layouts/footer';
@import './components/btn';

body {
    position: relative;
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}